<a href="javascript: history.go(-1)">Go Back</a>
<div class="product-view-container">

    <!-- LEFT: Product Image -->
    <div class="product-image-box">
        <img [src]="product?.image || 'assets/images/no-image.png'" alt="{{ product?.name }}" class="product-image" />
    </div>

    <!-- RIGHT: Product Details -->
    <div class="product-info-box">

        <h2 class="product-title">{{ product?.name }}</h2>
        <p class="product-subtitle">{{ product?.indication }}</p>

        <!-- Price Section -->
        <div class="price-section">
            <!-- <span class="mrp">MRP: <s>₹{{ product?.mrp }}</s></span>

            <span *ngIf="product?.price" class="price">
                Price: ₹{{ product?.price }}
            </span>

            <span *ngIf="product?.price" class="discount">
                ({{ product?.mrp - product?.price }} OFF)
            </span> -->
        </div>
       
        <!-- Static Product Details Table -->
        <div class="spec-table">
            <div class="spec-row">
                <span class="label">Pack:</span>
                <span>{{ product?.details?.pack }}</span>
            </div>
            <div class="spec-row">
                <span class="label">Indication:</span>
                <span>{{ product?.details?.indication }}</span>
            </div>
            <div class="spec-row">
                <span class="label">Dose:</span>
                <span>{{ product?.details?.dose }}</span>
            </div>
        </div>

        <!-- Read More Section -->
        <!-- <span class="read-more-lik" (click)="showMore = !showMore">
            {{ showMore ? 'Hide Details' : 'Read More' }}
        </span> -->
    </div>
</div>
<!-- <div class="read-more-section" *ngIf="showMore">
    <h3>Product Description</h3>
    <p>{{ product?.description }}</p>

    <h3>Disclaimer</h3>
    <p>{{ product?.details?.disclaimer }}</p>
</div> -->