.logo-image {
    background-image: url(/assets/logo/logo_gyno_png.png);
    width: 26px;
    height: 26px;
    border: none;
}

.gyno-bkg-color {
    background-color: #f3693a;
    //color: #ffffff;
    color: #1c1c3c;
}