.card {
    width: auto !important;
    height: auto !important;
}

section {
    padding: 25px 0 !important;
    overflow: hidden;
}

.images:hover {
    transform: scale(1.2);
    overflow: hidden;
    border-radius: 2%;
}

img{
     transition: transform .2s; /* Animation */
}
img:hover {
    transform: scale(1.2);
    overflow: hidden;
    border-radius: 2%;
}