<!-- Carousal -->
<!-- <div class="outer">
  <carousel></carousel>
</div> -->


<!-- Resources -->
<!-- <section class="vmg-section">
  <div class="vmg-container ">
    <h2 class="vmg-title">Who We Are</h2>
    <div class="flex-container ">
      <div class="vmg-card">
        <h3>Our Vision</h3>
        <p>
          To become a trusted leader in pharmaceutical distribution by ensuring access to quality medicines across
          communities, while building strong partnerships with healthcare providers and pharmacies.
        </p>
      </div>

      <div class="vmg-card">
        <h3>Our Mission</h3>
        <p>
          Our mission is to deliver safe, effective, and affordable pharmaceutical products through a reliable and
          responsive supply chain. We are committed to supporting our network of medical representatives and retail
          partners with excellence in service, timely delivery, and ethical practices.
        </p>
      </div>

      <div class="vmg-card">
        <h3>Our Goal</h3>

        To expand our reach and strengthen our presence in the pharmaceutical sector by:
        <ul>
          <li>Building a wide and dependable distribution network</li>
          <li>Ensuring product authenticity, regulatory compliance, and customer satisfaction</li>
          <li>Contributing to better healthcare access and outcomes in every community we serve</li>
        </ul>
      </div>
    </div>
  </div>
</section> -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
        <div class="container">
          <h2>Welcome to <span>QueeWin Gyno Pharmaceuticals</span></h2>
          <p>It is our mission to help you, <br> to get the best out of your products and by <br> doing so to improve
            the
            patient’s life.</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
        <!-- <div class="container">
            <h2>Lorem Ipsum Dolor</h2>
            <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel.</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
          </div> -->
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
        <!-- <div class="container">
            <h2>Sequi ea ut et est quaerat</h2>
            <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel.</p>
            <a href="#about" class="btn-get-started scrollto">Read More</a>
          </div> -->
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" *ngFor="let fs of featuredServicesList">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i [class]="fs?.icon"></i></div>
            <h4 class="title"><a href="">{{fs?.title}}</a></h4>
            <p class="description">
              {{fs?.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row about-row">
        <div class="col-xl-5 col-lg-6 image-box" data-aos="fade-right" data-aos-delay="100">
          <img [src]="aboutOursList.aboutImage" alt="About Image" class="about-image" />
        </div>

        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center px-lg-5"
          data-aos="fade-left" data-aos-delay="100">
          <h3>{{aboutOursList.aboutTitle}}</h3>
          <!-- <div [innerHTML]="aboutOursList.aboutDescription"></div> -->
          <div class="icon-box" *ngFor="let our of aboutOursList?.aboutList">
            <div class="icon"><i [class]="our?.icon"></i></div>
            <h4 class="title"><a href="">{{our?.title}}</a></h4>
            <p class="description">{{our?.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title" data-aos="fade-up">
        <h2>Divisions</h2>
        <p><b>QUEEWIN GYNO PHARMACEUTICALS</b> is one of the largest and longstanding distributors of wide range of
          pharmaceutical Products in
          Tamilnadu dealing with many manufacturers.</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" *ngFor="let d of divisions" data-aos="fade-right"
          data-aos-delay="100">
          <div class="icon-box cursor-pointer" (click)="onClickDivision(d.division)">
            <div class="icon"><i [class]="d.icon" (click)="onClickDivision(d.division)"></i></div>
            <h4 (click)="onClickDivision(d.division)">{{d.name}}</h4>
            <p (click)="onClickDivision(d.division)">{{d.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->


  <!-- ======= Departments Section ======= -->
  <!-- <section id="departments" class="departments">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Products</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-3" data-aos="fade-right" data-aos-delay="100">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Cardiology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Neurology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Hepatology</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Pediatrics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Eye Care</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9" data-aos="fade-left" data-aos-delay="100">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Cardiology</h3>
                  <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer
                    a videna mareta paulona marka</p>
                  <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa
                    odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni
                    nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Et blanditiis nemo veritatis excepturi</h3>
                  <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer
                    a videna mareta paulona marka</p>
                  <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt
                    est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque
                    beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                  <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus
                    non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                  <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque
                    necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum
                    odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-3.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                  <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis
                    delectus</p>
                  <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam
                    fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores
                    sed qui veritatis aperiam quia a laborum inventore</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-4.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-5">
              <div class="row gy-4">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                  <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                  <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut
                    quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae
                    molestiae voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/departments-5.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section> -->
  <!-- End Departments Section -->

  <!-- ======= Our Teams Section ======= -->
  <section id="doctors" class="doctors">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Our Teams</h2>
        <p>In any industry where the people behind a company are as important as the company itself. Proud to
          instroduce my team..</p>
      </div>

      <!-- <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let o of ourTeams">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <div class="member d-flex align-items-start">
                  <div class="pic">
                    <img [src]="o.displayPicture || 'assets/img/ourteam/male_gender_empty.jpeg'" class="img-fluid"
                      alt="{{o.name}}">
                  </div>
                  <div class="member-info">
                    <h4>{{o.name | titlecase}}</h4>
                    <div class="meta">
                      <div class="meta-row">
                        <span class="meta-item role" title="Role">{{ o.role | titlecase }}</span>
                        <span class="meta-sep">•</span>
                        <span class="meta-item division" title="Division">{{ o.division | titlecase }}</span>
                      </div>

                      <div class="meta-row small">
                        <span class="meta-item experience">Experience: {{ o.experience }}</span>
                      </div>

                      <div class="contacts">
                        <a *ngIf="o.contactnumber" class="contact-link" [href]="'tel:' + o.contactnumber">
                          <i class="fas fa-phone" aria-hidden="true"></i>
                          <span class="sr-only">Call</span>
                          <span class="contact-text">{{ o.contactnumber }}</span>
                        </a>

                        <a *ngIf="o.emailId" class="contact-link" [href]="'mailto:' + o.emailId">
                          <i class="fas fa-envelope" aria-hidden="true"></i>
                          <span class="sr-only">Email</span>
                          <span class="contact-text">{{ o.emailId }}</span>
                        </a>
                      </div>
                    </div>


                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div> -->
      <ourteam-carousel ngSkipHydration></ourteam-carousel>
    </div>
  </section>
  <!-- End Our Teams Section -->


  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>{{galaryImages.title}}</h2>
        <p>{{galaryImages.description}}</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row g-0">

        <div class="col-lg-3 col-md-4" data-aos="fade-right" data-aos-delay="100"
          *ngFor="let g of galaryImages?.imageList">
          <div class="gallery-item">
            <a [href]="g?.imageURL" class="galelry-lightbox">
              <img [src]="g?.imageURL" alt="g?.imageName" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Gallery Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Here at <b><span class="g-color">Q</span>ueeWin Gyno
            Pharmaceuticals</b>, we have a designated team of customer care specialists
          appointed only to answer your
          inquiries in the most genuine way possible. Simply fill in the form with your details and your message and
          send it to us.
          We will respond at the earliest opportunity and guide you in the most appropriate way.</p>
      </div>
    </div>

    <div>
      <iframe style="border:0; width: 100%; height: 350px;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46560.36546087165!2d78.08814192349672!3d11.682820050322015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf06114a74d21%3A0xa68214af10c2d723!2sGyno%20Pharmaceutical!5e1!3m2!1sen!2sin!4v1750508687518!5m2!1sen!2sin"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="container" data-aos="fade-right" data-aos-delay="100">
      <div class="row mt-5">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>349, BLOCK NO4, Narasothipatti, Salem, Salem, Tamil Nadu, 636004</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>gynopharmaceutical&#64;gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+91 76677 65653</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">

          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->