<!-- ======= Departments Section ======= -->
<section id="departments" class="departments">
  <div class="container" data-aos="fade-up">

    <div class="section-title" style="margin-top: 80px;">
      <h2>Gyno Cologist</h2>
      <p>
        At QueeWin Gyno Pharmaceuticals, our Gynecologist Division is dedicated to women's health and well-being. We
        offer a specialized range of high-quality gynecological products that support reproductive health, hormonal
        balance, and maternal care. Trusted by healthcare professionals, our products are designed to meet the evolving
        needs of modern gynecology with safety, efficacy, and care.
      </p>
    </div>
    <!-- Show Product List -->
    <div class="row gy-4" *ngIf="slug == 'all'">
      <app-product-list></app-product-list>
    </div>

    <!-- Show Single Product -->
    <div class="row gy-4" *ngIf="slug != 'all'">
      <app-product-view [slug]="slug"></app-product-view>
    </div>
  </div>
</section><!-- End Departments Section -->